.navButton{
    background-color: rgb(240, 239, 239);
    border-radius: 15px;
    border: 1px solid rgb(217, 217, 217);
    font-family: 'Alexandria';
    padding: 14px;
    margin: 10px;
    font-size: 1.5rem;
  }
  
  .footer-content{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    text-align: center;
  }